---
import CountdownClock from "../components/CountdownClock.vue";
import WordSwitcher from "../components/WordSwitcher.vue";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Countdown to America's Freedom</title>
  </head>
  <body>
    <div class="relative h-[800px]">
      <img
        src="banner.jpg"
        alt=""
        srcset="banner@2x.jpg 2x"
        class="object-cover w-full h-full absolute"
      />
      <div class="absolute bottom-12 w-full">
        <div class="container mx-auto">
          <CountdownClock client:only="vue" />
        </div>
      </div>
    </div>
    <div class="container mx-auto">
      <WordSwitcher client:only="vue" />
    </div>
  </body>
</html>
